{
  "version": "0.1.0",
  "configurations": [
    {
      "name": "test_quarrot-debug",
      "type": "cppdbg",
      "request": "launch",
      "program": "${workspaceFolder}/Debug/test_quarrot",
      "args": [],
      "stopAtEntry": false,
      "cwd": "${workspaceFolder}",
      "environment": [],
      "externalConsole": false,
      "MIMode": "gdb",
      "setupCommands": [
        {
          "description": "Enable pretty-printing for gdb",
          "text": "-enable-pretty-printing",
          "ignoreFailures": true
        }
      ],
      "dap-compilation": "${workspaceFolder}/build.sh Debug test_quarrot"
    },
  ]
}
